/* 版心 */
.w {
    width: 1190px;
    margin: 0 auto;
}
.fr {
    float: right;
}

.fl {
    float: left;
}
.style-red {
    color: #f10215 !important;
}
li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}
input, button {
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?efy4cs');
    src:  url('../fonts/icomoon.eot?efy4cs#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?efy4cs') format('truetype'),
      url('../fonts/icomoon.woff?efy4cs') format('woff'),
      url('../fonts/icomoon.svg?efy4cs#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F6F6F6;
}
/* 京东 顶部 start  */
.J_event {
    /* height: 80px; */ /* 这里可以不用设置高度,因为它的孩子a标签有设置宽度, 孩子会自动撑开父元素 */
    background-color: #000;
}

.J_event a {
    height: 80px;
    display: block;
    background: url(../images/top.jpg) no-repeat;
    position: relative;
}

.J_event a i {
    width: 20px;
    height: 20px;
    /* background-color: pink; */
    position: absolute;
    right: 0;
    top: 5px;
    font-family: icomoon;
    font-style: normal;
    text-align: center;
    line-height: 20px;
    color: #FFF;
    background: rgba(0,0,0,.4);
}
/* 京东 顶部 end  */


/* 快捷导航模块制作 start  */
.shortcut {
    /* height: 30px; */
    height: 29px;
    background-color: #E3E4E5;
    border-bottom: 1px solid #DDDDDD;
    color: #9D9D9D;
    font-size: 12px;
    line-height: 30px;
}
.shortcut a {
    color: #9D9D9D;
    font-size: 12px;
    text-decoration: none;
}
.shortcut a:hover {
    color: #c81623;
}
.pos {
    font-family: icomoon;
    font-style: normal;
    font-size: 14px;
    color: #f10215;
}
.shortcut .fl li {
    margin-left: 200px;
    height: 30px;
    overflow: hidden;
}
.shortcut .fr li {
    float: left;
}

.spacer {
    width: 1px;
    height: 10px;
    background-color: #ccc;
    margin: 10px 10px 0;
}
.dropdown {
    padding-right: 15px;
    position: relative;
}
.dropdown i {
    font-family: icomoon;
    font-style: normal;
    font-size: 16px;
    position: absolute;
    right: -2px;
    top: -2px; 
}
.erweima {
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
    padding: 3px;
    position: absolute;
    left: -8px;
    top: 35px;
}
/* 快捷导航模块制作 end  */
/* header 部分 start */
.header {
    height: 140px;
}
.inner {
    height: 140px;
    /* background-color: pink; */
    position: relative;
}
/* header 部分 end */
/* logo 部分 start  */
.logo {
    width: 190px;
    height: 170px;
    position: absolute;
    left: 0;
    top: -30px;
    background-color: purple;
    box-shadow: 0 -12px 10px rgba(0,0,0,.2);
}
.logo h1 {
    margin: 0;
}
.logo a {
    display: block;
    width: 190px;
    height: 170px;
    background: url(../images/logo.jpg) no-repeat;
    text-indent: -99999px; /* 让a标签中的文字(京东这两个字是搜索引擎优化用的,不能省去不写)偏移出去,然后用overflow:hidden 隐藏掉 */
    overflow: hidden;
}
/* logo 部分 start  */
/* 搜索部分 start */
.search {
    width: 550px;
    height: 35px;
    position: absolute;
    top: 25px;
    left: 320px;
}
.search input {
    width: 493px;
    height: 33px;
    border: 1px solid #F10215;
    padding: 0 0 0 5px;
    outline: none; 
    color: #989898;
    float: left;
}
.search button {
    width: 50px;
    height: 35px;
    background-color: #F10215;
    float: left;
    cursor: pointer;
    outline: none;
}
.search i {
    font-family: icomoon;
    font-style: normal;
    color: #fff;
    font-size: 16px;
}
.search em {
    position: absolute;
    top: 10px;
    right: 65px;
    width: 19px;
    height: 15px;
    cursor: pointer;
    background: url(../images/sprite-search.png) no-repeat;
}
.search em:hover {
    background-position: -30px 0;
}
/* 搜索部分 end */
/* 热词部分  start */
.hotwords {
    position: absolute;
    top: 70px;
    left: 320px;
}
.hotwords a {
    color: #9E9B99;
    font-size: 12px;
}
.hotwords a:hover {
    color: #f10215;
}
/* 热词部分  end */

/* 购物车 start  */
.myCar {
    width: 188px;
    height: 33px;
    border: 1px solid #ccc;
    position: absolute;
    top: 25px;
    right: 100px;
    text-align: center;
    line-height: 33px;
}
.myCar a {
    font-size: 12px;
    color: #f10215;
}
.myCar i {
    font-family: icomoon;
    font-style: normal;
    color: #f10215;
    margin-right: 3px; 
}
.myCar s {
    position: absolute;
    top: 5px;
    left: 140px;
    text-decoration: none;
    background-color: #f10215;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    padding: 0 3px;
    border-radius: 7px;
    color: #fff;
}
/* 购物车 end  */

/* 电脑 start */
.computer {
    position: absolute;
    right: 0;
    bottom: 10px;
}
/* 电脑 end */

/* 导航栏信息 start  */
.navitems {
    position: absolute;
    left: 200px;
    bottom: 0;
}
.navitems ul {
    float: left;
}
.navitems ul li {
    float: left;
    margin-left: 30px;
}
.navitems li a {
    font-size: 16px;
    color: #555a5f;
    font-weight: 700;
    height: 40px;
    line-height: 40px;
    display: block;
}

.navitems li a:hover {
    color: #f10215;
}
.navitems .spacer {
    float: left;
    margin: 15px -10px 0px 20px;
    /* margin-top: 15px;
    margin-left: 20px;
    margin-right: -10px;
    margin-bottom: 0px; */
}
/* 导航栏信息 end  */

/* 页面底部分 start */
.footer {
    height: 560px;
    background-color: #EAEAEA;
}
.footer-service {
    border-bottom: 1px solid #DEDEDE;
}
.footer-service-inner {
    padding: 30px 0;
}
.footer-service-inner li {
    float: left;
    width: 297px;
    height: 42px;
}
.service-unit {
    width: 225px;
    height: 42px;
    margin: 0 auto;
    position: relative;
}
.service-unit h5 {
    width: 36px;
    height: 42px;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/ico_service.png) no-repeat;
    text-indent: -999px;
    overflow: hidden;
}
.service-unit p {
    line-height: 42px;
    margin-left: 45px;
    font-size: 18px;
    font-weight: 700;
}
.service-unit .kuai {
    background-position: 0 -44px;
}
.service-unit .hao {
    background-position: 0 -86px;
}
.service-unit .sheng {
    background-position: 0 -130px;
}
/* 页面底部分 end */
/* 帮助模块 */
.help {
    height: 180px;
    background-color: pink;
    padding-top: 20px;
}
.help dl {
    float: left;
    width: 198px;
}
.help dt {
    font-size: 14px;
    font-weight: 700;
    color: #666;
    height: 30px;
}
.help dd {
    height: 22px;
}
.help dd a {
    color: #727272;
    font-size: 12px;
}
.help dd a:hover {
    color: #f10215;
}